<header>
  <nav id="navigation-bar">
    <a href="/" id="home">Home</a>
    <ul>
      <li><a href="/heroes">Heroes</a></li>
      <li><a href="/soldiers">Soldiers</a></li>
    </ul>
  </nav>
</header>
