<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/navigation-header') %>
    <main id="landing-main">
      <h1>Page Not Found!</h1>
      <p>The resource you search for does not exist.</p>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
