<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/navigation-header') %>
    <main id="landing-main">
      <h1>Something went wrong on the server!</h1>
      <p>We are working on fixing it.</p>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
