<li>
  <img src="/images/eq_exclusives/<%= equipment.imageName %> " />
</li>
<li>
  <h3>Awakening skill: <%= equipment.name %></h3>
  <p>Type: <%= equipment.type %></p>
  <p><%= equipment.description %></p>
</li>
