<li>
  <img src="/images/icons/HP.png" />
  <p><%= hero.soldierBonus.HP %></p>
</li>
<li>
  <img src="/images/icons/ATK.png" />
  <p><%= hero.soldierBonus.ATK %></p>
</li>
<li>
  <img src="/images/icons/DEF.png" />
  <p><%= hero.soldierBonus.DEF %></p>
</li>
<li>
  <img src="/images/icons/MDEF.png" />
  <p><%= hero.soldierBonus.MDEF %></p>
</li>
