<li>Height/Weight: <%= hero.bio.heightWeight %></li>
<li>Measurements: <%= hero.bio.measurements %></li>
<li>Appearance: <%= hero.bio.appearance %></li>
<li>Allegiance: <%= hero.bio.allegiance %></li>
